@model List<Bloggie.Web.Models.Domain.BlogPost>
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>List All BlogPosts - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Heading</th>
                    <th>Tags</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blogPost in Model)
                {
                    <tr>
                        <td>@blogPost.Id</td>
                        <td>@blogPost.Heading</td>
                        <td>
                            @foreach(var tag in blogPost.Tags)
                            {
                                <span class="badge bg-warning text-dark me-1">@tag.Name</span>
                            }
                        </td>
                        <td> <a class="btn btn-warning btn-sm" asp-controller="AdminBlogPosts" asp-action="Edit" asp-route-id="@blogPost.Id">Edit</a></td>
                    </tr>
                }

        </tbody>
        </table>
    } else
    {
        <h1>There is no spoon :)</h1>
    }
</div>